::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  opacity: 0;
}

::-webkit-resizer {
  background-color: rgb(var(--color_white));
  opacity: 0.2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color_gray));
  opacity: 0.6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color_gray));
  opacity: 0.8;
}

* {
  box-sizing: border-box;
  font-family: 'Play', 'Courier New', Courier, monospace !important;
}

html {
  background-color: rgb(var(--color_dark));
  color: rgb(var(--color_white));
}

h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 8px;
}

blockquote {
  background-color: rgba(var(--color_white), 0.1);
  padding: 8px 16px;
}
