:root {
  --color_black: 0, 0, 0;
  --color_dark: 32, 32, 32;
  --color_gray: 44, 44, 44;
  --color_light: 204, 204, 204;
  --color_white: 255, 255, 255;
  --color_yellow: 255, 255, 0;
  --color_magenta: 255, 0, 255;
  --color_cyan: 0, 255, 255;
}