.menu {
    position: relative;

    &__burger {
        position: fixed;
        left: 0;
        top: 0;

        svg {
            stroke: none;
            fill: rgba(var(--color_white), 1);
            width: 60px;
            height: 60px;
            cursor: pointer;
        }
    }

    &__panel {
        background-color: rgba(var(--color_dark), 1);
        color: rgba(var(--color_white), 1);
        position: fixed;
        left: -310px;
        top: 0;
        height: 100vh;
        width: 300px;
        box-shadow: -5px 5px 10px 0px rgba(var(--color_black), 0.1), inset 5px -5px 10px 0px rgba(var(--color_black), 0.1), inset -5px 5px 5px 0px rgba(var(--color_white), 0.06);
        transition: .3s;

        &.show {
            left: 0;
        }

        &_cross {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;

            svg {
                stroke: none;
                fill: rgba(var(--color_white), 1);
                width: 60px;
                height: 60px;
            }
        }

        &_item {
            a {
                color: rgba(var(--color_white), 1);
                text-decoration: none;
            }
        }
    }
}