:root {
    --color_black: 0, 0, 0;
    --color_dark: 33, 34, 44;
    --color_purple: 40, 42, 54;
    --color_violet: 189, 147, 249;
    --color_pink: 225, 109, 177;
    --color_cyan: 0, 255, 255;
    --color_white: 188, 255, 255;
}